body {
    margin: 0;
    font-family: 'Alata', sans-serif;
    background-color: #1e1f26;
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 33px 33px 130px 150px 90px 70px;
}